body {
    background-color: lightgray
}

.box {
    background-color: white;
    min-height: 50px;
    padding: 10px;
    margin: 10px;
}

.navbar-brand {
    background-color: lightblue;
    padding: 8px;
}

/* h1 formatting */
h1{
    font: red;
}

h2{
    text-align: center;
}