body {
    background-color: lightgray
}

.box {
    background-color: white;
    min-height: 50px;
    padding: 10px;
    margin: 10px;
}

/* nav formatting */

.navbar-brand {
    background-color: lightblue;
    padding: 8px;
}

.navbar-nav {
    margin-left: auto;
}

/* h1 formatting */
h1{
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

/* h2 formatting */
h2{
    text-align: auto;
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* image formatting */
.image {
    display: block;
    margin-left: auto:
    margin-right: auto;
}
